{# django template #}

<div class="col-sm-9 col-sm-push-3">

	<div class="section-title">

		{% if not edit %}

			Add Note

		{% else %}

			Edit Note

		{% endif %}

	</div>

	<form action="{{ action }}" class="form-horizontal" method="post" role="form">

		{% csrf_token %}

    <table>

      <tr>
        <td>
          Folder

        <td>
          <select name="folder_id" id="folder_id">

            <option value="0">Uncategorized</option>

            {% for folder in folders %}

              <option value="{{ folder.id }}" {% if note.folder_id == folder.id %} selected {% endif %}>
                {{ folder.name }}
              </option>

            {% endfor %}

          </select>

    <tr>
      <td>
        Subject

      <td>
				<input type="text" autofocus="autofocus" name="subject" id="subject"
				       value="{{ note.subject|default:'' }}" required>

    <tr>
      <td>
        Note

      <td>
				<textarea name="note" id="note" required>{{ note.note|default:'' }}</textarea>

    <tr>
      <td>
      <td>
        <input type="submit" value="Submit" class="btn btn-default">

    </table>
	</form>
</div>
