{% load crispy_forms_tags %}

<div class="col-lg-9 order-lg-2">

  <div class="card">

    <div class="card-title flex-center-space">

      <h1>
        {% if not edit %}

          Add Note

        {% else %}

          Edit Note

        {% endif %}
      </h1>

      <a href="/notes">
        <i class="bi bi-arrow-return-left"></i>
      </a>

    </div>

    <form class="large-form" action="{{ action }}" method="post" role="form">

      {% csrf_token %}

      {{ form|crispy }}

      <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>
</div>
