<div class="dropdown">
    <button class="btn-icon menu-icon"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item"
               href="#"
               hx-get="{% url 'notes-form-htmx-edit' selected_note.id %}"
               hx-target="#htmx-modal-container"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">Edit</a>
        </li>
        <li>
            <a class="dropdown-item"
               href="#"
               hx-delete="{% url 'notes-delete-htmx' selected_note.id %}"
               hx-confirm="Are you sure you want to delete this note?">Delete Note</a>
        </li>
    </ul>
</div>
