{# django template #}

<div id="note" class="col-sm-6 col-sm-push-6">

	{% if selected_note  %}

		{% include 'notes/note.html' %}

	{% endif %}
  
  <div class="page-control">
      <a href="/{{ page }}/add">
        Add Note
      </a>
  </div>

</div>

<div id="notes" class="col-sm-3 col-sm-pull-3">

	<div class="section-title">
		Notes
	</div>

	{% if notes %}

		{% include 'notes/list.html' %}

	{% else %}

    <ul class="list-group">
      <li class="list-group-item">No notes selected.</li>
    </ul>

	{% endif %}

</div>

