
<div id="note" class="col-sm-6 col-sm-push-6">

	{% if selected_note  %}

		{% include 'notes/note.html' %}

	{% endif %}

</div>

<div id="notes" class="col-sm-3 col-sm-pull-3">

  <div class="add-record">
      <a href="/{{ page }}/add">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
  </div>

	<div class="section-title">

		Notes
	</div>

	{% if notes %}

		{% include 'notes/list.html' %}

	{% else %}

    <ul class="list-group">
      <li class="list-group-item">No notes selected.</li>
    </ul>

	{% endif %}

</div>

