<div class="card">
    <div class="card-title flex-start-space">
        <h1>Pending Tasks</h1>
        <div class="card-close">
            <a href="{% url 'home-toggle' 'due_tasks' %}">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </div>
    <ul class="list-group tasks-list">
        {% for task in due_tasks %}
            <li class="list-group-item tasks-row">
                {% if task.folder %}
                    <div class="tasks-folder">
                        <i class="bi bi-folder"></i>
                        <a href="{% url 'folder-select' task.folder.id 'tasks' %}">{{ task.folder.name }}</a>
                    </div>
                {% endif %}
                <div class="tasks-checkbox">
                    <a href="{% if origin %}{% url 'tasks-complete' task.id origin %}{% else %}{% url 'tasks-complete' task.id %}{% endif %}">
                        {% if task.status == 1 %}
                            <i class="bi bi-check-square"></i>
                        {% else %}
                            <i class="bi bi-square"></i>
                        {% endif %}
                    </a>
                </div>
                <div class="tasks-content">
                    <div class="tasks-title">
                        <a href="{% url 'tasks-edit' task.id %}">{{ task.title }}</a>
                    </div>
                    <div class="tasks-due">
                        {{ task.due_date|date:"M j" }}
                        {% if task.due_time %}{{ task.due_time|time:"g:i A" }}{% endif %}
                    </div>
                </div>
                {% if task.parent_task %}
                    <div class="tasks-recurring">
                        <i class="bi bi-arrow-repeat"></i>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
