
<div class="row align-items-start">

{% for column in columns %}
<div class="col">

  {% for folder in column %}
    <div class="card folder">

      {# card title #}

      <div class="card-title mh-fc">

        <a href="/folders/{{ folder.id }}/favorites">{{ folder.name }}</a>

        <a class="folder-icon" href="javascript:showHideHomeControls('{{ folder.id }}');">
          <i class="bi-columns"></i>
        </a>

      </div>


      {# folder controls #}

      <div class="folder-controls mh-fc folder-{{ folder.id }}" style="display: none;">

        <a href="/home/folder/{{ folder.id }}/left"><i class="bi bi-arrow-left-square"></i></a>
        <a href="/home/folder/{{ folder.id }}/up"><i class="bi bi-arrow-up-square"></i></a>
        <a href="/home/folder/{{ folder.id }}/down"><i class="bi bi-arrow-down-square"></i></a>
        <a href="/home/folder/{{ folder.id }}/right"><i class="bi bi-arrow-right-square"></i></a>

      </div>


      {# favorites #}

      <ul class="list-group">

        {% for favorite in folder.favorites %}
          {% if favorite.folder_id == folder.id %}

            <li class="list-group-item home-item mh-fe">

              <a class="home-link" href="{{ favorite.url }}">{{ favorite.name }}</a>

              <a class="favorite-controls home-link-controls-{{ folder.id }}"
                style="display:none;"
                href="/home/favorite/{{ favorite.id }}/up">

                  <i class="bi bi-arrow-bar-up"></i>

              </a>
            </li>

          {% endif %}
        {% endfor %}

      </ul>

    </div> {# folders #}
    {% endfor %}

</div> {# columns #}
{% endfor %}

</div> {# row-centered #}
