{% extends 'layout.html' %}
{% block content %}

{% if task_folders %}
  <div style="text-align: right; margin-right: 90px; font-weight: 600;">
    <a href="/home/toggle-tasks">
      {% if show_tasks %}Hide Tasks{% else %}Show Tasks{% endif%}
    </a>
  </div>
{% endif %}

{% if show_tasks and task_folders %}

  <div class="home-task-area">

    <div class="section-title home-task-area-title">

      Current Tasks

    </div>

    {% if task_folders %}

      {% for folder in task_folders  %}

          {% include 'tasks/task_list.html' %}

      {% endfor %}

    {% endif %}

  </div>

{% endif %}

<form role="form" id="home-form" action="https://{{ search_engine }}" method="get" class="hidden-xs">
	<div class="row row-centered">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="input-group input-group-md">
				<input id="searchText" class="form-control" autofocus type="text"  maxLength="255" name="q" >
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default" id="googleSearch" style=""><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
		</div>
	</div>
</form>

<form role="form" id="home-form" action="https://{{ search_engine }}" method="get" class="hidden-sm hidden-md hidden-lg">
	<div class="row row-centered">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="input-group input-group-md">
				<input id="searchText" class="form-control" type="text"  maxLength="255" name="q" >
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default" id="googleSearch" style=""><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row row-centered">

  {% for column in columns %}

		<div class="col-sm-3 col-centered">

    {% for folder in column %}

				<ul class="list-group home-list">
				<li class="list-group-item home-folder-title">
						<div class="home-control-launch">
              <a href="javascript:showHideHomeControls('{{ folder.id }}');">
								<span class="glyphicon glyphicon-retweet"></span>
							</a>
						</div>
            <a href="/folders/{{ folder.id }}/favorites">{{ folder.name }}</a>
						<!-- home folder controls -->
            <div class="home-folder-controls home-folder-controls-{{ folder.id }}" style="display: none;">
              <a href="/home/folder/{{ folder.id }}/up"><span class="glyphicon glyphicon-arrow-up"></span></a>
              <a href="/home/folder/{{ folder.id }}/down"><span class="glyphicon glyphicon-arrow-down"></span></a>
              <a href="/home/folder/{{ folder.id }}/left"><span class="glyphicon glyphicon-arrow-left"></span></a>
              <a href="/home/folder/{{ folder.id }}/right"><span class="glyphicon glyphicon-arrow-right"></span></a>
						</div>
				</li>
        {% for favorite in folder.favorites %}
          {% if favorite.folder_id == folder.id %}
						<li class="list-group-item home-item">
              <a class="home-link-controls-{{ folder.id }}" style="display:none;" href="/home/favorite/{{ favorite.id }}/up"><span class="glyphicon glyphicon-arrow-up"></span></a>
              <a class="home-link-controls-{{ folder.id }}" style="display:none;" href="/home/favorite/{{ favorite.id }}/down"><span class="glyphicon glyphicon-arrow-down"></span></a>
              <a class="home-link" href="{{ favorite.url }}">{{ favorite.name }}</a>
						</li>

          {% endif %}
        {% endfor %}
				</ul>

    {% endfor %}
		</div>

  {% endfor %}

	<div class="clear: both;">

    </div>

</div>

{% endblock content %}
