<div class="search" id="search-section">
    <div class="search-bar">
        <form role="form"
              action="https://{{ search_engine.url }}"
              method="get"
              class="search-form">
            <input class="form-control search-input"
                   type="text"
                   autofocus
                   id="search-input"
                   name="{% if user.search_engine == "wikipedia" %}search{% else %}q{% endif %}"
                   placeholder="Web search . . ."
                   aria-label="Web search">
        </form>
        <div class="dropdown" x-data="dropdown()">
            <button type="button"
                    class="select-btn search-engine-btn"
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open">
                <span>{{ search_engine.name }}</span>
                <small><i class="icon-chevron-down"></i></small>
            </button>
            <ul class="dropdown-menu" x-ref="menu" x-show="open">
                {% for engine in engines %}
                    <li>
                        <a class="dropdown-item {% if engine.id == search_engine.id %}active{% endif %}"
                           href="#"
                           hx-post="{% url 'settings-search-engine' %}"
                           hx-target="#search-section"
                           hx-vals='{"search_engine": "{{ engine.id }}"}'
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>{{ engine.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
