

<ul class="list-group task-list">

  <li class="list-group-item task-list-title">

  {% if selected_folder %}

    {{ selected_folder.name }}

  {% endif %}

  {% for task in selected_folder.tasks %}

    <li class="list-group-item mh-ftl">

      <div class="task-checkbox">

        <a href="/tasks/{{ task.id }}/complete{% if origin %}/{{origin}}{%endif%}">

          {% if task.status == 1 %}

            <i class="bi bi-check-square"></i>

          {% else %}

            <i class="bi bi-square"></i>

          {% endif %}

        </a>

      </div>

      <div class="task-title">

        <a href="/tasks/{{ task.id }}/edit" {% if task.status == 1 %}
          style="text-decoration: line-through; color: gray;" {% endif %}>
          {{ task.title}}
        </a>

      </div>

    </li>

  {% endfor %}

</ul>
