{% extends 'registration/base.html' %}

{% block content %}

  <p class="card-text">
    Log in to your account.
  </div>

  <form id="login-form" class="account-form" method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <div class="flex-container login-bottom">

      <div class="login-bottom-left">
        <button type="submit">Submit</button>
      </div>

      <div class="login-bottom-right">
        <a href="/accounts/password_reset">Forgot Password?</a>
      </div>

    </div>

  </form>

{% endblock content %}
