{% extends "registration/base.html" %}
{% block content %}
    <p class="card-text">Log in to your account.</p>
    <form id="login-form" class="account-form" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="flex-container login-bottom">
            <div class="login-bottom-left">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="login-bottom-right">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
        </div>
    </form>
{% endblock content %}
