{% extends "registration/base.html" %}
{% block title %}
    Password Reset Complete
{% endblock title %}
{% block meta_description %}
    Your password has been successfully reset. You can now log in to your account with your new password and access all your personal data securely.
{% endblock meta_description %}
{% block meta_keywords %}
    password reset, password change, account recovery, login, authentication, password security, account access
{% endblock meta_keywords %}
{% block content %}
    <div class="card-text">
        <p>Your new password has been set.</p>
    </div>
    <div class="card-text">
        <p>
            You may now <a href="{% url 'login' %}">log in</a>.
        </p>
    </div>
{% endblock content %}
