{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

  <div class="card-text">
      Password Reset
  </div>

  <div class="card-text">
    Please enter the email address associated with your account.
  </div>

  <form id="password-reset-form" class="account-form" method="post">

    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-primary" type="submit">Submit</button>

  </form>

</div>

{% endblock content %}
