{% extends "registration/base.html" %}
{% block title %}
    Forgot Your Password?
{% endblock title %}
{% block content %}
    <p class="reset-message">Please enter the email address associated with your account.</p>
    <form id="password-reset-form" class="account-form" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="login-bottom">
            <button class="btn btn-success" type="submit">Submit</button>
            <a href="{% url 'login' %}">← Back</a>
        </div>
    </form>
{% endblock content %}
