{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}

  <div class="card-text">
      Set a new password
  </div>

  <form id="password-reset-confirm-form" class="account-form" method="post">

    {% csrf_token %}

    {{ form|crispy }}

    <div class="login-bottom">

      <button class="btn btn-primary" type="submit">Submit</button>

    </div>

  </form>

{% else %}

  <div class="card-text">

    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.

  </div>

{% endif %}

{% endblock content %}
