
{% extends 'registration/base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}

  <div class="card-text">
      Password Reset
  </div>

  <div class="card-text">
    The server has emailed you instructions for resetting your password. You should receive the email shortly.
  </div>

  <div class="card-text">
    If the email does not appear in your inbox, please check your <span class="mh-alert">spam folder</span> and make sure you’ve entered the email address associated with your account.
  </div>

{% endblock content %}
