<html>
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>

    <h1 x-data="{ message: 'I like Alpine' }" x-text="message"></h1>

    <br>
    <br>

    <div x-data="{ count: {{ count }} }">

      <button x-on:mouseenter="count++">Increment</button>

      <span x-text="count"></span>

    </div>

    <br>
    <br>

    <div x-data="{ edit: false }">

        <button
          @click="edit = true"
          x-show="! edit"
        >
          Record
        </button>

        <input
          autofocus
          x-show="edit"
          @click.outside="edit = false"
        />

    </div>

</body>
</html>
