
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	background: #d4d4d4;
	color: #474747;
	}

a {
	text-decoration: none;
	color: #0059b3;
	}

a:hover	{
	text-decoration: none;
	color: green;
	}

.vertical-center {
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	}

.auth-title{
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
	color: #0059b3;
	}

.auth-card{
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3px;
	width: 500px;
	background: #f4f4f4;
	padding: 20px;
	}

.auth-subtitle{
	margin-bottom: 10px;
	text-align: center;
	}

.form-check-label{
    margin-left: 10px;
}

.invalid-feedback{
    margin: 5px 0 0 2px;
    color: darkred;
}
