
/*  background and fonts */
body {
	background: #363538;
	color: #efdab9;
	}

/*  links */
a {
	color: #659cc8;
	}

a:hover	{
	color: #dda032;
	}

/* misc */
.list-group-item{
	background: #4c4a4f;
	}

/*  icons */
.glyphicon{
	color: #efdab9;
	}

.btn-default:hover{
	color: #0059b3;
	background: white;
}

/*  form controls */
form .btn-default{
	background: #f9f9f9;
}

.form-control{
	/* background: #ffffff; */
}

.form-control:focus {
	border-color: #e4e4e4;
	}


/*  header and footer */
#footer {
	background: #363538;
	}

#footer a {
	color: #e4e4e4;
}

.navbar {
	background: #584b4f;
	}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: #e5e5e5;
	}

.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus {
	background: #584b4f;
	color: #e5e5e5;
	}

/* nav button for small screens */
#navButton {
	background: #616161;
	border: solid 1px gray;
	}

.favoriteMenu ul li{
    background: #e4e4e4;
}

.favoriteMenu a {
    color: #760f13;
    }

	.folderMenu li {
		background: #e4e4e4;
	}

.folderMenu li a {
	color: #760f13;
	}

.editFolder input {
	background: #f8f8f8;
	}

#home-form{
	/* background: #d4d4d4; */
	}

.form-control{
	/* border: solid 1px #a1a1a1; */
	}

#googleSearch{
	background-color: #e4e4e4;
	border: solid 1px #d9d9d9;
	}

.glyphicon-retweet{
	color: #a1a1a1;
	}

.home-folder-title{
	color: #dfdab9;
	background: #3f3e42;
	}

.home-folder-title a{
	color: #dfdab9;
    font-weight: normal;
	}

div.note{
	background: #efdab9;
}

#search-form{
	/* background: #d4d4d4; */
	}

	.form-control{
		border: solid 1px #a1a1a1;
		}

	#textSearch{
		background-color: #e4e4e4;
		border: solid 1px #d9d9d9;
		}

#taskText{
	border: solid 1px #e4e4e4;

}

#btn-tasks-add{
	background-color: #e4e4e4;
	/*border: solid 1px #a1a1a1;*/
}

.task-list-title{
	background: #e4e4e4;
}


.glyphicon-unchecked,
.glyphicon-checked {
	color: #676767;
}
