/*------------------------------------------------
Provides formatting for forms used throughout the
app
------------------------------------------------*/
.formTitle{
	font-size: 1.5em;
	padding-bottom: 20px;
	}

form{
	background: #f4f4f4;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
}

.form-horizontal .control-label{
	text-align: left;
	}

form .btn-default{
	background: #f9f9f9;
}

.form-control{
	/*border: solid 1px #d4d4d4;*/
	background: #ffffff;
	margin-bottom: 20px;
}

.form-control:focus {
	border-color: #e4e4e4;
	/*box-shadow: inset 0 1px 1px rgba(0, 89, 179, 0.075), 0 0 4px rgba(0, 70, 138, 0.84);*/
	box-shadow: none;
	}

label{
	font-weight: normal;
}

div.submit{
	text-align: right;
	}
