@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);
/*51627C*/
html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background: #e4e4e4
	}

a			{text-decoration: none;	color: #0059b3;}
a:hover		{color: green;}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	margin: 0 auto;
	text-align: left;
	padding: 0;
}

#footer {
	position: absolute;
	bottom: 0px;
	background: #474747;
	text-align: right;
	width: 100%;
	padding: 10px;
	}

#footer ul li{
	list-style-type: none;
	display: inline;
	padding-left: 20px;
}

#footer a {
	color: white;
	background: #474747;
}
		.navbar {
		background: #474747;
		border-radius: 0;
		}

		#navButton {
			background: #555555;
			border: solid 1px gray;
			}

		.navbar-toggle:hover {
			background: #474747;
			}

		.navbar .navbar-nav > li > a,
		.navbar .navbar-nav > li > a:hover,
		.navbar .navbar-nav > li > a:focus {
			padding-right: 25px;
			padding-left: 25px;
			border-radius: 3px;
			color: white;
			}

		.navbar .navbar-nav > li.active > a,
		.navbar .navbar-nav > li.active > a:hover,
		.navbar .navbar-nav > li.active > a:focus {
			background: #616161;
			color: white;
			}

		.navbar .navbar-right > li > a,
		.navbar .navbar-right > li > a:hover,
		.navbar .navbar-right > li > a:focus {
			background: #616161;
			color: white;
			}

		.navbar .navbar-right > li.active > a,
		.navbar .navbar-right > li.active > a:hover,
		.navbar .navbar-right > li.active > a:focus {
			background: #616161;
			color: white;
			}



li{
	list-style-type: none;
	}

.emphasis{
	font-weight: bold;
}


/* glyphs */
.glyphicon-folder-close {
	font-size: 0.9em;
	color: #dec729;
	margin-right: 10px;
}

.glyphicon-bookmark {
	font-size: 0.9em;
	color: gray;
	margin-right: 15px;
}

div#folders{
	padding-right: 10px;
	margin-bottom: 20px;
}

div#favorites{
	padding-left: 10px;
}

.btn-default{

}
.btn-default:hover{
	color: #0059b3;
	background: white;
}

form{
	background: white;
	border-radius: 3px;
	padding: 20px;
}

.form-horizontal .control-label{
	text-align: left;
	font-weight: bold;
	color: #6d6d6d;
	}

form .btn-default{
	background: #f9f9f9;
}

.form-control{
	border: solid 1px #d4d4d4;
	background: #f9f9f9;
	margin-bottom: 20px;
}

label{
	font-weight: normal;
}

.formTitle{
	font-size: 1.5em;
	padding-bottom: 20px;
}