


/*------------------------------------------------
 * folder list
 * ------------------------------------------------*/

.folder-icon {
  color: var(--yellow-600);
  margin-right: 0.5rem;
  opacity: 0.5;
}

.folders .list-group-item {
}

.menu-icon {
  color: var(--warm-gray-300);
  padding: 0;
}


/*------------------------------------------------
 * add folder
 * ------------------------------------------------*/

.add-folder {
  display: none;
}

.add-folder form {
	background: none;
	padding: 0;
	text-align: left;
}

.add-folder input,
.add-folder input:focus {
  background: inherit;
  border: none;
  padding: 0;
}


/*------------------------------------------------
 * edit folder form
 * ------------------------------------------------*/

.edit-folder {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.edit-folder input,
.edit-folder input:focus {
  background: inherit;
  border: none;
  padding: 0;
  margin-left: 0.5rem;
}
