
/* ------------------------------------------------------------------------- */
/* task form */
/* ------------------------------------------------------------------------- */

.tasks-add {
  margin-bottom: 1rem;
}

.tasks-add .form-control {
  box-shadow: none;
  outline: none;
}


/* ------------------------------------------------------------------------- */
/* task list */
/* ------------------------------------------------------------------------- */

.tasks-list-title {
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
}

.tasks-list-title a {
  color: inherit;
  text-decoration: none;
}

.tasks-list-title a:hover {
  text-decoration: underline;
}

.tasks-list {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {

  .tasks-list li {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
  }

  .tasks-checkbox {
    margin-top: 0.1rem !important;
    padding-top: 0;
  }

  .tasks-checkbox a {
    font-size: 1.1rem;
  }

} /* end media exception */

.tasks-checkbox {
  font-size: 0.96rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.tasks-checkbox i {
  position: relative;
  top: -0.15rem;
}

.tasks-checkbox a,
.tasks-checkbox a:hover {
  color: var(--stone-400);
}

.tasks-row {
  display: flex;
  align-items: flex-start;
}

.tasks-folder {
  color: var(--stone-400);
  min-width: 15rem;
  white-space: nowrap;
}

.tasks-folder .bi-folder {
  margin-right: 1rem;
  position: relative;
  top: 0.1rem;
}

.tasks-folder a,
.tasks-folder a:hover {
  /* color: var(--stone-400); */
}

.tasks-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-due {
  color: var(--stone-500);
  font-size: 0.85rem;
  white-space: nowrap;
}

.tasks-recurring {
  color: var(--stone-400);
  margin-left: 0.75rem;
}

@media (max-width: 576px) {
  .tasks-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .tasks-due {
    margin-top: 0.25rem;
  }

  .tasks-row {
    flex-wrap: wrap;
  }

  .tasks-folder {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .tasks-folder .bi-folder {
    font-size: 1.2rem;
  }
}

.clear {
  text-align: right;
}

/* ------------------------------------------------------------------------- */
/* task edit form */
/* ------------------------------------------------------------------------- */

#id_folder {
  max-width: 18.75rem;
}

.tasks-delete,
.tasks-delete:hover {
  color: var(--orange-800);
}

.tasks-delete i {
  margin-right: 0.25rem;
}
