
/* ------------------------------------------------------------------------- */
/* favorites list */
/* ------------------------------------------------------------------------- */

.favorites .list-group-item{
  border-left: none;
  border-right: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.favorite-icon{
  color: var(--true-gray-400);
	float: left;
  margin-top: 0.2rem;
}

.favorite-icon-home{
  color: var(--true-gray-500);
	float: left;
}

.favorite-text{
	float: left;
  margin-left: 0.8rem;
}

.description{
	font-size: 0.9em;
  margin-left: 0.1rem;
}

.credentials{
	float: right;
  margin-right: 1rem;
	text-align: right;
}

.credentials a {
  color: var(--true-gray-300);
}

.credential-data{
  color: var(--true-gray-500);
	font-size: 0.8em;
}

.favorite-menu {
  float: right;
  text-align: right;
}


/* ------------------------------------------------------------------------- */
/* favorites form */
/* ------------------------------------------------------------------------- */

#id_folder {
  max-width: 250px;
}


#id_name {
  max-width: 400px;
}

#id_url {
  max-width: 1000px;
}

#id_description{
  height: 100px;
}

#id_login {
  max-width: 450px;
}

#id_root,
#id_passkey {
	max-width: 150px;
}

.btn {
  margin-top: 0.5rem;
}
