

.contact-item{
	margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.no-contacts {
  color: var(--stone-400);
  font-size: 3rem;
  padding: 1.25rem 0;
  text-align: center;
}



/* ------------------------------------------------------------------------- */
/* contacts form */
/* ------------------------------------------------------------------------- */

#id_name,
#id_email,
#id_company,
#id_notes {
  max-width: 37.5rem;
}

#id_address,
#id_notes {
  height: 9.5rem;
  max-width: 37.5rem;
}

#id_folder,
#id_phone1,
#id_phone2,
#id_phone3,
#id_phone1_label,
#id_phone2_label,
#id_phone3_label {
	max-width: 18.75rem;
}
