
.row {
	margin: 0 auto;
	max-width: 1000px;
}

/*------------------------------------------------
 * search
 * ------------------------------------------------*/

.home-form {
	margin-bottom: 1rem;
	text-align: center;
}

.row-search {
  max-width: 800px;
}

.home-form .form-control {
  background: var(--warm-gray-50);
}



/*------------------------------------------------
 * favorites layout
 * ------------------------------------------------*/

.wrapper {
	text-align: center;
}

.home-column {
	margin: 0 10px;
}


/*------------------------------------------------
 * favorites cards
 * ------------------------------------------------*/

.home-card {
  padding: 0.5em;
}

.home-card .list-group-item {
	border: none;
	padding: 0.2rem 1rem;
}

.home-folder-title a {
	font-weight: 500;
	color: var(--warm-gray-600);
}

.home-control-launch {
	float: right;
  opacity: 0.4;
}

.home-folder-controls {
  text-align: center;
}

.home-folder-controls a {
  margin-right: 1.5rem;
  opacity: 0.6;
  padding: 0.5rem 0;
}

.home-task-area-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.home-task-area-title .section-title {
  margin: 0;
}

.home-task-hide {
  margin: 5px 5px 0 0;
}

.task-list-title {
  font-weight: 600;
}

.table {
  background: #f5f5f5;
  margin-bottom: 0;
  width: 100%;
}

.event-date {
  width: 120px;
}
