


/*------------------------------------------------
 * folder list
 * ------------------------------------------------*/

.folder-icon {
  color: var(--stone-400);
  margin-right: 1rem;
}

/* this takes special customization
 * because I am using a google icon */
.task-icon {
  margin-bottom: -0.45rem;
  margin-right: 0.7rem;
}

.folder-icon-home {
  color: var(--stone-400);
  margin-right: 1rem;
}

.folders input,
.folders input:focus {
  box-shadow: none;
  outline: none;
}

.shared-indicator {
  margin-left: 1rem;
}

.shared-indicator .bi-people-fill {
  color: var(--stone-300);
}


/*------------------------------------------------
 * add folder
 * ------------------------------------------------*/

.folder-add {
  border-bottom: none;
  display: none;
}

.folder-add form {
	background: none;
	padding: 0;
	text-align: left;
}

.folder-add input,
.folder-add input:focus {
  background: inherit;
  border: none;
  padding: 0;
}


/*------------------------------------------------
 * edit folder form
 * ------------------------------------------------*/

.folder-edit {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.folder-edit input,
.folder-edit input:focus {
  background: inherit;
  border: none;
  padding: 0;
  margin-left: 0.5rem;
}

/* for the entire list item when editing is turned on */
.li-folder-edit {
  background: var(--stone-50);
}

.edit-share .list-group-item {
  border: solid 1px var(--stone-200);
  padding-right: 0.5rem;
}
