
/* ------------------------------------------------------------------------- */
/* task form */
/* ------------------------------------------------------------------------- */

.task-add {
  margin-bottom: 1rem;
}

.task-add .form-control {
  box-shadow: none;
  outline: none;
}


/* ------------------------------------------------------------------------- */
/* task list */
/* ------------------------------------------------------------------------- */

.task-list-title{
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
}

.task-list {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {

  .task-list li {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
  }

  .task-checkbox {
    margin-top: 0.1rem !important;
    padding-top: 0;
  }

  .task-checkbox a {
    font-size: 1.1rem;
  }

} /* end media exception */

.task-checkbox {
  font-size: 0.96rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.task-checkbox a,
.task-checkbox a:hover {
  color: var(--warm-gray-600);
}

.clear {
  text-align: right;
}

/* ------------------------------------------------------------------------- */
/* task edit form */
/* ------------------------------------------------------------------------- */

#id_folder {
  max-width: 300px;
}
