
/* ------------------------------------------------------------------------- */
/* task form */
/* ------------------------------------------------------------------------- */

.tasks-add {
  margin-bottom: 1.5rem;
}

.tasks-add .form-control {
  box-shadow: none;
  outline: none;
}


/* ------------------------------------------------------------------------- */
/* task list */
/* ------------------------------------------------------------------------- */

.tasks-list {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {

  .tasks-list li {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
  }

  .tasks-checkbox {
    margin-top: 0.1rem !important;
    padding-top: 0;
  }

} /* end media exception */

.tasks-checkbox {
  font-size: 1.15rem;
  margin-right: 1rem;
}

.tasks-checkbox i {
  display: block;
}

.tasks-checkbox a,
.tasks-checkbox a:hover {
  color: var(--color-muted);
}

.tasks-row {
  display: flex;
  align-items: center;
}

.tasks-folder {
  color: var(--color-muted);
  min-width: 15rem;
  white-space: nowrap;
}

.tasks-folder .bi-folder {
  margin-right: 1rem;
  position: relative;
  top: 0.1rem;
}

.tasks-folder a,
.tasks-folder a:hover {
  /* color: var(--stone-400); */
}

.tasks-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-due {
  color: var(--color-secondary);
  font-size: 0.85rem;
  white-space: nowrap;
}

.tasks-recurring {
  color: var(--color-muted);
  margin-left: 0.75rem;
}

@media (max-width: 576px) {
  .tasks-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .tasks-due {
    margin-top: 0.25rem;
  }

  .tasks-row {
    flex-wrap: wrap;
  }

  .tasks-folder {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .tasks-folder .bi-folder {
    font-size: 1.2rem;
  }
}

.archive {
  display: flex;
  justify-content: space-between;
}

.archive .btn {
  font-weight: 300;
}

.archive .btn i {
  margin-right: 0.5rem;
}

/* ------------------------------------------------------------------------- */
/* task edit form */
/* ------------------------------------------------------------------------- */

#id_folder {
  max-width: 18.75rem;
}

.tasks-delete,
.tasks-delete:hover {
  color: var(--urgent);
}

.tasks-delete i {
  margin-right: 0.25rem;
}
