

/* ------------------------------------------------------------------------- */
/* markdown formatting */
/* ------------------------------------------------------------------------- */

.note h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.note h2 {
  font-size: 1.1rem;
  font-weight: 500;
}

.note h3 {
  font-size: 1.0rem;
}

.note strong {
  font-weight: 600;
}

.note b {
  font-weight: 600;
}

.note ul,
.note ol {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.note ul li {
  list-style-type: disc;
  padding-left: 0.5rem;
}

.note ol li {
  list-style-type: decimal;
  padding-left: 0.5rem;
}

.note p {
  /* font-size: 1.05rem; */
}

.note a {
  text-decoration: underline;
}

code{
  background: inherit;
  color: inherit;
  display: block;
  font-family: 'Courier Prime';
  font-size: 1.03rem;
  margin-left: 20px;
  white-space: pre-wrap;
}

/* ------------------------------------------------------------------------- */
/* notes form */
/* ------------------------------------------------------------------------- */


#id_folder {
  max-width: 300px;
}

#id_subject {
    width: 600px;
}

#id_note {
  min-height: 350px;
}
