

.favorites .list-group-item{
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-left: none;
  border-right: none;
}

.favorite-icon{
	float: left;
}

.favorite-icon a {
  color: var(--warm-gray-400);
}

.favorite-text{
	float: left;
	margin-left: 20px;
}

.description{
	font-size: 0.9em;
}

.credentials{
	float: right;
	text-align: right;
}

.credential-data{
	font-size: 0.8em;
	margin-top: 10px;
}

.favorite-menu{
	margin-top: 10px;
}

.favorite-menu ul {
  margin: 15px 0 0 0;
  padding: 0;
}

.favorite-menu ul li{
  background: #e4e4e4;
  border-radius: 5px;
  display: inline;
  margin-right: 10px;
  padding: 5px 7px;
}

.favorite-menu a {
  font-size: 0.85em;
}


/* ------------------------------------------------------------------------- */
/* favorites form */
/* ------------------------------------------------------------------------- */

.form-control{
	background: #ffffe6;
}

#id_folder {
  max-width: 250px;
}

#id_url {
  width: 550px;
}

#id_description{
    height: 100px;
}

#id_login {
  max-width: 350px;
}
#id_root,
#id_passkey {
	max-width: 150px;
	}

.form-control{
	background: #ffffe6;
}
