
#crypto {
  width: 100%;
}

#crypto th, td {
  border: solid 1px #e4e4e4;
  padding: 10px;
}

th {
  font-weight: 600;
}

.numeric {
  padding-left: 40px;
  text-align: right;
}

.name {
  padding-right: 40px;
}

.symbol {
  padding-right: 40px;
}

.numeric a {
  color: inherit
}
