

.contact-item{
	margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.no-contacts {
  color: var(--warm-gray-400);
  font-size: 3rem;
  padding: 20px 0;
  text-align: center;
}



/* ------------------------------------------------------------------------- */
/* contacts form */
/* ------------------------------------------------------------------------- */

#id_name,
#id_email,
#id_company,
#id_notes {
  max-width: 600px;
}

#id_address,
#id_notes {
  height: 150px;
  max-width: 600px;
}

#id_folder,
#id_phone1,
#id_phone2,
#id_phone3,
#id_phone1_label,
#id_phone2_label,
#id_phone3_label {
	max-width: 300px;
}

