
.crypto th, td {
  border: solid 1px var(--stone-200);
  padding: 0.5rem;
}

th {
  font-weight: 600;
}

.numeric {
  padding-left: 2.5rem;
  text-align: right;
}

.name {
  padding-right: 2.5rem;
}

.symbol {
  padding-right: 2.5rem;
}

.numeric a {
  color: inherit
}
