
/* ------------------------------------------------------------------------- */
/* favorites list */
/* ------------------------------------------------------------------------- */

.favorites-list-title {
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
}

.favorites-list {
  margin-bottom: 1.5rem;
}

.favorites .list-group-item{
  border-left: none;
  border-right: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.favorite-icon{
  color: var(--stone-400);
	float: left;
  margin-top: 0.2rem;
}

.favorite-icon-home{
  color: var(--stone-400);
	float: left;
}

.favorite-text{
	float: left;
  margin-left: 0.8rem;
}

.description{
	font-size: 0.9em;
  margin-left: 0.1rem;
}

.credentials{
	float: right;
  margin-right: 1rem;
	text-align: right;
}

.credentials a {
  color: var(--stone-300);
}

.credential-data{
  color: var(--stone-500);
	font-size: 0.8em;
}

.favorite-menu {
  float: right;
  text-align: right;
}


/* ------------------------------------------------------------------------- */
/* favorites form */
/* ------------------------------------------------------------------------- */

#id_folder {
  max-width: 15.5rem;
}


#id_name {
  max-width: 25rem;
}

#id_url {
  max-width: 62.5rem;
}

#id_description{
  height: 6.25rem;
}

#id_login {
  max-width: 28rem;
}

#id_root,
#id_passkey {
	max-width: 9.5rem;
}

.btn {
  margin-top: 0.5rem;
}
