.wicon {
  font-size: 1.9rem;
}

.table {
  margin-bottom: 2rem;
}

.table td, th {
  border: solid 1px var(--warm-gray-200);
}

.card-title h1 {
  font-size: 1.5rem;
}

.weather-data h1 {
  margin-bottom: 1rem;
}

.weather-label {
  font-weight: 600;
}

.table .forecast-description {
  border-right: none;
}

.table .forecast-icon {
  border-left: none;
}

.forecast-icon-image {

}

.current-icon-image {
  margin-left: 3rem;
}


