@import "app-notes.css";

/*------------------------------------------------
 * search form
 * ------------------------------------------------*/

.search {
  margin: 0 auto 2rem auto;
  max-width: 50rem;
	text-align: center;
}

.search .form-control {
  box-shadow: none;
  outline: none;
}


/*------------------------------------------------
 * search results
 * ------------------------------------------------*/

.card {
  text-align: left
}

.folder {
	width: 12.5rem;
  padding-right: 1rem;
}

.favorite-name {
	width: 18.75rem;
  padding-right: 1rem;
}

.credentials {
	text-align: right;
}

.credentials a {
  color: var(--stone-300);
}

.credential-data{
  color: var(--stone-500);
	font-size: 0.8em;
}

.contact-name {
	width: 18.75rem;
  padding-right: 1rem;
}

.contact-phone1 {
	width: 15.5rem;
  padding-right: 1rem;
}

.contact-email {
}

.note-subject {
	width: 18.75rem;
  padding-right: 1rem;
}
