.wicon {
  font-size: 1.5em;
}


.table td, th {
  border: solid 1px var(--true-gray-200);
}

.card-title h1 {
  font-size: 1.5rem;
}

.weather-data h1 {
  margin-bottom: 1rem;
}


.weather-label {
  font-weight: 600;
}

.table .forecast-description {
  border-right: none;
}

.table .forecast-icon {
  border-left: none;
}


