


/*------------------------------------------------
 * folder list
 * ------------------------------------------------*/

.folders {
	margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.folder-icon {
  color: var(--yellow-600);
  opacity: 0.5;
  margin-right: 0.5rem;
}

.folders .list-group-item {
  padding-left: 0.2rem;
  padding-right: 0;
}

.folder-link {
}

.folder-menu-icon {
  color: var(--warm-gray-300);
}


/*------------------------------------------------
 * edit folder form
 * ------------------------------------------------*/

.edit-folder {
  display: none;
}

.edit-folder-form {
	padding-left: 0.5em;
	text-align: left;
}

.edit-folder-form input,
.edit-folder-form input:focus {
  border: none;
  background: none;
  font-size: inherit;
  padding: 0;
}

.edit-folder-form input:focus {
  outline: none;
}

.folder-menu {
  display:none;
  margin: 0.7rem 0 0 0;
  text-align: right;
}

.folder-menu a.home{
  color: var(--warm-gray-500);
}

.folder-menu a.delete{
  color: var(--warm-gray-500);
}

#folder-create-form{
	background: none;
	margin-top: 20px;
	padding: 0;
	text-align: left;
}

#add-folder {
	background: #f8f8f8;
	border: none;
	display: inline;
	padding: 3px;
	padding-left: 5px;
}

#add-folder-item {
  display: none;
}

.edit-folder {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.folder-form input {
  background: inherit;
  border: none;
	display: inline;
	margin: 0;
  padding: 0;
	width: 100%;
}
.folder-form {
	padding: 0;
  margin: 0;
	text-align: left;
  width: 100%;
}

.delete-folder {
  color: var(--red-dark);
  margin: 0;
}
