

.contact-item{
	margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.no-contacts {
  color: var(--stone-400);
  font-size: 3rem;
  padding: 1.25rem 0;
  text-align: center;
}


/* ------------------------------------------------------------------------- */
/* contacts form                                                             */
/* ------------------------------------------------------------------------- */

#id_address,
#id_notes {
  height: 9.5rem;
}

.contacts-form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacts-form-grid input,
.contacts-form-grid select,
.contacts-form-grid textarea {
  width: 100%;
}

@media (width >= 768px) {
  .contacts-form-grid {
    align-items: start;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .contacts-form-right.col2 {
    grid-template-columns: 2fr 1fr;
  }
}
