
/*------------------------------------------------
 * layout
 * ------------------------------------------------*/

.row {
	margin: 0 auto;
}


/*------------------------------------------------
 * tasks and events
 * ------------------------------------------------*/

.task-list-title {
  border-left: none;
  border-right: none;
  border-top: none;
  padding-left: 0.25rem;
}


/*------------------------------------------------
 * search
 * ------------------------------------------------*/

.search {
  margin-bottom: 1rem;
  max-width: 800px;
}

.search form {
	margin-bottom: 1rem;
	text-align: center;
}

.search .form-control {
  background: var(--warm-gray-50);
}



/*------------------------------------------------
 * favorites
 * ------------------------------------------------*/

.folder {
  padding: 0.5rem 1rem;
}

.folder .card-title {
  margin-bottom: 0;
	padding: 0.2rem 0;
}

.folder .card-title a {
	font-weight: 500;
	color: var(--warm-gray-600);
}

.folder .list-group-item {
	border: none;
	padding: 0.2rem 0;
}

.folder-icon {
  opacity: 0.4;
}

.folder-controls {
  padding: 0.5em;
}


.folder-controls a,
.favorite-controls {
	color: var(--lime-600);
}
