
:root {

  /* tailwindcolor.com */
  --stone-700: #44403C;
  --stone-600: #57534E;
  --stone-500: #78716C;
  --stone-400: #A8A29E;
  --stone-350: #cbc8c6;
  --stone-300: hsl(24, 6%, 83%);
  --stone-250: hsl(24, 6%, 85%);
  --stone-215: hsl(24, 6%, 89%);
  --stone-200: hsl(24, 6%, 90%);
  --stone-150: #eeecec;
  --stone-125: #f1f0f0;
  --stone-100: #f5f5f4;
  --stone-50: #FAFAF9;
  --stone-25: hsl(24, 6%, 99.5%);

  --blue-800: #1E40AF;
  --blue-700: #1D4ED8;
  --blue-600: #2563EB;

  --light-blue-900: #0C4A6E;
  --light-blue-800: #075985;
  --light-blue-700: #0369A1;
  --light-blue-600: #0284C7;
  --light-blue-500: #0EA5E9;
  --light-blue-400: #38BDF8;

  --matcha-900: #365314;
  --matcha-800: #3F6212;
  --matcha-700: #4D7C0F;
  --matcha-600: #65A30D;

  --orange-700: #c2410c;
  --orange-800: #9a3412;

  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #2e1065;

  --red-700: #B91C1C;

  --rose-700: #BE123C;

  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;

  --selected-background: hsl(252, 32%, 91%);
  --selected-color: hsl(24, 6%, 35%);
  --selected-border: hsl(252, 22%, 85%);

}
