

/*------------------------------------------------
background and primary font
------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


html {
  height: 100%;
}

body {
  background: var(--stone-300);
  color: var(--stone-600);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  min-height: 100%;
}

.page-vertical-centered {
  overflow: hidden;
  position: absolute;
  width: 100%;
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;

}

.page-horizontal-centered {
	margin: 1rem auto;
  width: 31.25rem;
}

.content {
  padding-top: 1.5rem;
}



/*------------------------------------------------
 * links
 * ------------------------------------------------*/

a,
a:hover {
  color: var(--lime-800);
  outline: none;
  text-decoration: none;
}


/*------------------------------------------------
 * cards
 * ------------------------------------------------*/

.card {
  background: var(--stone-100);
  margin-bottom: 2rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.card-close {
  float: right;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1rem;
}

.card > .list-group {
  border: none;
}


/*------------------------------------------------
 * typography
 * ------------------------------------------------*/

.page-vertical-centered h1 {
  color: var(--lime-900);
  font-size: 1.5em;
}

.page-vertical-centered h1,
.page-vertical-centered p {
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
}

strong{
  font-weight: 600;
}

.strong {
	font-weight: 600;
}

.mh-alert {
  color: var(--red-700);
}

.soon {
  color: var(--red-700);
}


/*------------------------------------------------
 * tables
 * ------------------------------------------------*/

.table {
  color: inherit;
}

th {
  font-weight: 500;
}


/*------------------------------------------------
 * lists
 * ------------------------------------------------*/

li {
	list-style-type: none;
}

.list-group {
  border: none;
}

.list-group-item {
  background: none;
  border-left: none;
  border-right: none;
  color: inherit;
  padding: 0.5rem 0 0.5rem 0.5rem;
}


/*------------------------------------------------
 * buttons
 * ------------------------------------------------*/

.btn {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--button-primary-background);
  border: none;
  box-shadow: none;
  color: var(--button-primary-color);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--button-secondary-background);
  border: none;
  box-shadow: none;
  color: var(--button-secondary-color);
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background: transparent;
  border: solid 1px var(--stone-350);
  box-shadow: none;
  color: var(--stone-600);
}

.btn-outline-danger {
  color: var(--orange-700);
  background-color: var(--stone-100);
  border-color: var(--orange-700);
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
}

.btn-slim {
  font-size: 0.97rem;
  padding: 0.1rem 0.4rem;
}

.btn-sort {
  background: none;
  border: none;
  color: var(--stone-400);
  font-weight: 600;
}

.button-link {
  background: none;
  border: none;
  color: var(--lime-800);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-link:hover {
  color: var(--lime-700);
}

.square-button {
  background: var(--stone-150);
  border: solid 1px var(--stone-200);
  border-radius: 4px;
  color: var(--button-toolbar);
  outline: none;
  padding: 0.25rem 0.5rem;
}

.square-button:hover {
  color: var(--button-toolbar);
}



/*------------------------------------------------
 * dropdowns
 * ------------------------------------------------*/

.menu-icon {
  color: var(--stone-350);
  padding: 0;
}

.dropdown-menu {
  background: var(--stone-100);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: var(--stone-200);
}



/*------------------------------------------------
 * utilities
 * ------------------------------------------------*/

.flex-start-space {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-start-left {
  align-items: start;
  display: flex;
  flex-direction: row;
}

.flex-center-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-center-left {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-end-space {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mh-bottom-right {
  margin-top: 1rem;
  text-align: right;
}


/*------------------------------------------------
 * dev banner
 * ------------------------------------------------*/

.dev-banner {
  background: var(--orange-800);
  color: var(--stone-100);
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.1rem 0.5rem;
  text-align: center;
}


/* alerts */

.alert-info {
  background-color: var(--stone-50);
  color: var(--stone-700);
  border-color: var(--stone-300);
}


/*------------------------------------------------
 * utility classes
 * ------------------------------------------------*/

/* display */
.hidden {
  display: none;
}

/* text styles */
.text-bold {
  font-weight: bold;
}

.text-semibold {
  font-weight: 600;
}

.text-completed {
  text-decoration: line-through;
  color: var(--stone-400);
}

/* colors */
.text-negative {
  color: var(--red-800);
}

.text-positive {
  color: var(--green-600);
}

.text-warning {
  color: var(--red-800);
}

.text-lime {
  color: var(--lime-600);
}

/* borders */
.border-bottom-none {
  border-bottom: none;
}

/* margins */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* active/selected items */
.active-item {
  background: var(--hl-gray);
}
