
.vertical-center {
	align-items: center;
	display: flex;
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
}

.error {
	margin: 1rem auto;
	max-width: 700px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

.card-title {
  margin-bottom: 1rem;
}
