
.login-bottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.login-bottom-right {
  margin-bottom: 2px;
}

.reset-confirm {
  margin-top: 30px;
}

.reset-complete {
  text-align: center;
}

ul {
  padding-left: 1.1rem;
}

li {
  list-style-type: disc;
}

.form-text {
  font-size: 1.1rem;
}

.account-form .invalid-feedback {
  text-align: left;
}
