
button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25rem;
}

.asteriskField {
  display: none;
}

.form-control:focus {
  background: var(--stone-50);
  font-size: 1.05em;
  padding: 0.5rem;
}

.form-control,
.form-select {
  background-color: var(--stone-50);
  font-size: 1.05em;
  padding: 0.5rem;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--stone-300);
  box-shadow: none;
  outline: none;
}

.form-label {
  color: inherit;
  margin-bottom: 0.3rem;
  margin-top: 0.6rem;
}

.form-select {
  font-size: inherit;
}

.large-form {
  padding-left: 0.8rem;
}


.invalid-feedback {
  color: var(--red-700);
  font-size: 1.1rem;
}
