
.account-form input {
  width: 100%;
}

.account-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.account-form .form-group + .form-group {
  margin-top: 1rem;
}

.login-bottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 2rem;
}

.reset-confirm {
  margin-top: 2rem;
}

.reset-complete {
  text-align: center;
}

ul {
  padding-left: 1.1rem;
}

li {
  list-style-type: disc;
}

.form-text {
  font-size: 1.1rem;
}

.account-form .invalid-feedback {
  text-align: left;
}

#password-reset-form label {
  display: none;
}

.reset-message {
  margin: 1.5rem 0;
  text-align: center;
}
