
.navbar {
  background: var(--warm-gray-350);
  margin-bottom: 2rem;
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--warm-gray-600);
  padding: 1rem 1.5rem;
}

.nav-active {
  background: var(--warm-gray-300);
}

.navbar-toggler-icon {
  font-size: 1.8rem;
  color: var(--lime-700);
}

.navbar-toggler-chevron {
  font-size: 1rem;
  color: var(--lime-700);
}

.navbar-toggler {
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-nav .settings-link {
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem 0.6rem 1.5rem !important;
}
