
:root {

  --body: #d5d5d5;
  --text: #454545;

  --a: #0059b3;
  --a-hover: green;

  --alert: darkred;
  --yellow-light2: #ffecb3;

  --input-border: #c5c5c5;

  --button: #555555;
  --button-text: #e5e5e5;

}

