
#contacts{
	padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
	}

#contact{
  padding-left: 10px;
  padding-right: 10px;
}


.contact{
	background: #f4f4f4;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px 15px;
	}

.contact-item{
	margin-top: 10px;
	}



/* ------------------------------------------------------------------------- */
/* contacts form */
/* ------------------------------------------------------------------------- */

.form-control{
	background: #ffffe6;
}

#name,
#email,
#notes {
    max-width: 400px;
}

#address{
    height: 100px;
    max-width: 400px;
}

#folder_id,
#phone1,
#phone2,
#phone3,
#phone1_label,
#phone2_label,
#phone3_label {
	max-width: 250px;
	}

