
/*------------------------------------------------
display
------------------------------------------------*/

.events {
  width: 100%;
  background: #f5f5f5;
}

.date {
  width: 150px;
}



/*------------------------------------------------
form
------------------------------------------------*/

#id_description {
  width: 500px;
}

#id_status {
  width: 140px;
}
