
#folders{
	margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.folderLink{
  margin-left: 15px;
}

.folderMenu{
	margin: 5px 0 0 35px;
	padding: 0;
}

.folderMenu li {
  background: #e4e4e4;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
}

.folderMenu li a {
	color: #760f13;
	font-size: 0.85em;
}

.editFolder{
	display: inline;
	padding: 0;
	text-align: left;
}

.editFolder input {
	background: #f8f8f8;
	border: none;
	display: inline;
	margin-left: 15px;
	padding: 3px;
	padding-left: 5px;
}

#folderCreateForm{
	background: none;
	margin-top: 20px;
	padding: 0;
	text-align: left;
}

#addFolder {
	background: #f8f8f8;
	border: none;
	display: inline;
	padding: 3px;
	padding-left: 5px;
}
