#home-form {
	background: #d4d4d4;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

.form-control {
	border: solid 1px #a1a1a1;
	margin-bottom: 0;
}

#searchText {
	border: none;
	height: 2em;
	font-size: 1.1em;
  max-width: 97.2%;
}

#googleSearch {
	background-color: #e4e4e4;
	border: solid 1px #d9d9d9;
	padding-left: 30px;
	padding-right: 30px;
	height: 2.65em;
	margin-top: -1px;
}

.row {
	margin: 0 auto;
	max-width: 1000px;
}

.wrapper {
	text-align: center;
}

.home-column {
	margin: 0 10px;
}

.glyphicon-retweet {
	color: #a1a1a1;
}

.home-list {
	margin-bottom: 30px;
}

.home-folder-title {
	background: #e4e4e4;
	border: none;
	color: #474747;
	font-weight: 600;
	padding: 7px 15px;
}

.home-folder-title a {
	color: #474747;
}

.home-item {
	border: none;
	padding: 3px 15px;
}

.home-item a {
	margin-right: 5px;
}

.home-control-launch {
	float: right;
}

.home-folder-controls a {
	margin-right: 5px;
}

.home-task-toggle {
  font-weight: 600;
  margin: 0 auto;
  max-width: 970px;
  text-align: right;
}

.home-task-area {
  border-radius: 4px;
  margin: 0 auto 30px auto;
  max-width: 970px;
}

.home-task-area-title {
  padding-left: 10px;
  padding-top: 10px;
}

.task-list-title {
  font-weight: 600;
}
