
.vertical-center {
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	}

.error-card{
    font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 3px;
	width: 700px;
	background: #f4f4f4;
	padding: 20px;
	}

.error-title{
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
	}

.error-code{
  font-size: 1.3em;
  font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	}

.error-message{
	font-size: 1.3em;
	margin-bottom: 15px;
	text-align: center;
	}

.contact-message{
    margin-bottom: 15px;
	text-align: center;
	}
