

body {
	background: var(--gray4);
	color: var(--gray7);
	font-family: 'Open Sans', sans-serif;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover	{
	color: var(--green);
	text-decoration: none;
}

.vertical-center {
	align-items: center;
	display: flex;
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
	}

.auth-card{
	background: var(--gray2);
	border-radius: 3px;
	margin: 0 auto;
	padding: 20px;
	width: 400px;
}

.auth-title{
	color: var(--blue);
	font-size: 1.5em;
  font-weight: 500;
	margin-bottom: 5px;
	text-align: center;
}

.auth-subtitle{
  font-size: 1em;
  margin-top: 5px;
	text-align: center;
}

.prompt {
  margin-bottom: 30px;
}

.account-form p {
  margin: 30px 0 0 0;
  padding: 0;
}

.account-form label {
  display: block;
  font-size: 1em;
  font-weight: normal;
}

.account-form input {
  border: solid 1px var(--gray5);
  border-radius: 5px;
  display: block;
  font-size: 1em;
  padding: 7px;
  width: 100%;
}

.account-form ul {
  padding-left: 2px;
}

.account-form ul li {
  color: var(--red-dark);
  margin-top: 5px;
}

.account-form button {
  background: var(--gray6);
  border: solid 1px var(--gray6);
  border-radius: 5px;
  color: var(--gray3);
  font-size: 1em;
  margin-top: 40px;
  padding: 7px 10px;
}

input {
  filter: none;
}

input:focus {
  outline: none;
}

.forgot {
  text-align: right;
}

.helptext {
  color: var(--red-dark);
  display: inline-block;
  margin: 5px 0 0 2px;
}

.login-bottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-bottom-right {
  margin-bottom: 2px;
}

.reset-confirm {
  margin-top: 30px;
}

.reset-complete {
  text-align: center;
}

.spam-folder {
  color: var(--red-dark);
  font-weight: 600;
}
