
body {
	font-family: 'Open Sans', sans-serif;
	background: #d4d4d4;
	color: #474747;
	}

a {
	text-decoration: none;
	color: #0059b3;
	}

a:hover	{
	text-decoration: none;
	color: green;
	}

.vertical-center {
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
	}

.auth-card{
	margin: 0 auto;
	border-radius: 3px;
	width: 400px;
	background: #f4f4f4;
	padding: 20px;
}

.auth-title{
	font-size: 1.5em;
  font-weight: 500;
	margin-bottom: 5px;
	text-align: center;
	color: #0059b3;
}

.auth-subtitle{
  font-size: 1em;
	margin-bottom: 30px;
	text-align: center;
}

#login-form label {
  font-size: 1em;
  display: block;
  font-weight: normal;
}

#login-form input {
  border: solid 1px #cccccc;
  border-radius: 5px;
  display: block;
  font-size: 1em;
  margin-bottom: 30px;
  padding: 7px;
  width: 100%;
}

#login-form button {
  border: solid 1px #cccccc;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 0px;
  padding: 7px;
}

input {
  filter: none;
}

input:focus {
  outline: none;
}
