div#notes{
	padding-bottom: 20px;
	}

div.note{
	background: #f4f4f4;
	border-radius: 4px;
	padding: 10px 15px;
	margin-bottom: 20px;
	}

#note-text {
	height: 350px;
  width: 550px;
	}

/* ------------------------------------------------------------------------- */
/* notes form */
/* ------------------------------------------------------------------------- */

.form-control{
	background: #ffffe6;
}

#folder_id {
    max-width: 250px;
}
