
#notes{
  padding-left: 10px;
  padding-right: 10px;
	padding-bottom: 20px;
	}

#note{
  padding-left: 10px;
  padding-right: 10px;
	padding-bottom: 20px;
}

.note{
	background: #f4f4f4;
	border-radius: 4px;
	padding: 10px 15px;
	margin-bottom: 20px;
}

#note-edit-link{
  text-decoration: none;
}


/* ------------------------------------------------------------------------- */
/* markdown formatting */
/* ------------------------------------------------------------------------- */

.note h1 {
  font-size: 1.5em;
  font-weight: 600;
}

.note h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.note h3 {
  font-size: 1.0em;
  font-weight: 600;
}

.note strong {
  font-weight: 600;
}

.note ul {
  padding: inherit;
}

.note ul li {
  list-style-type: disc;
  padding-left: 5px;
}

.note ol {
  padding: inherit;
}

.note ol li {
  list-style-type: decimal;
  padding-left: 5px;
}

.note p {
  font-size: 1.05em;
}

.note a {
  text-decoration: underline;
}

code{
  background: inherit;
  color: inherit;
  display: block;
  font-family: 'Courier Prime';
  font-size: 1.03em;
  margin-left: 20px;
  white-space: pre-wrap;
}

/* ------------------------------------------------------------------------- */
/* notes form */
/* ------------------------------------------------------------------------- */

#note-form table {
  width: 100%;
}

.form-control{
	background: #ffffe6;
}

#id_folder {
  max-width: 50%;
}

#id_subject {
    width: 80%;
}

#id_note {
  min-height: 250px;
  width: 100%;
}
