

body {
  background-image: url("../images/backgrounds/tatami.png");
  color: black;
}

a,
a:hover {
  color: var(--lime-900);
}

.navbar-expand-lg .navbar-nav .nav-active .nav-link {
  color: var(--true-gray-500);
}

.navbar {
  background-color: var(--warm-gray-300);
  background-image: url("../images/backgrounds/tatami-nav.png");
}

.nav-active {
  background: var(--warm-gray-200);
  background-image: url("../images/backgrounds/tatami-nav.png");
}

.card {
  background: white;
  color: var(--warm-gray-700);
  opacity: 0.8;
}


.search {
  opacity: 0.8;
}
