

body {
  background: var(--stone-300);
  color: var(--neutral-700);
}

a,
a:hover {
  color: var(--blue-700);
}

.navbar {
  background: var(--neutral-700);
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--neutral-200);
}

.nav-active {
  background: var(--neutral-600);
}

.navbar-toggler-icon {
  color: var(--stone-600);
}

.btn-nav {
  color: var(--neutral-200);
}


.folder-controls a,
.favorite-controls {
	color: var(--neutral-600);
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--neutral-700);
  border: none;
  color: var(--neutral-200);
}

.bi-plus-lg {
  color: var(--lime-700);
}
