
a,
a:hover {
  color: #0059b3;
}

.folder-controls a,
.favorite-controls {
  color: #0059b3;
}

.page-vertical-centered h1 {
  color: #0059b3;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--light-blue-900);
}

.error-link {
  color: #0059b3;
}

.navbar-toggler-icon {
  color: #474747;
}

.navbar-toggler-chevron {
  color: #474747;
}
