:root {
  --background-nav: var(--stone-700);
  --color-nav: var(--stone-350);
  --color-primary: var(--stone-700);
  --button-primary-background: var(--stone-700);
  --button-primary-color: var(--stone-200);
}
