
a,
a:hover {
  color: var(--blue-700);
}

.folder-controls a,
.favorite-controls {
  color: var(--blue-700);
}

.page-vertical-centered h1 {
  color: var(--blue-700);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--sky-900);
}

.error-link {
  color: var(--blue-700);
}
