

body {
  background: var(--true-gray-300);
  color: #474747;
}

a,
a:hover {
  color: #0059b3;
}

.navbar {
  background: #474747;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #e4e4e4;
}

.nav-active {
  background: #555555;
}

.navbar-toggler-icon {
  color: var(--warm-gray-600);
}

.btn-nav {
  color: #e4e4e4;
}


.folder-controls a,
.favorite-controls {
	color: #555555;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: #474747;
  border: none;
  color: #e4e4e4;
}

.bi-plus-lg {
  color: var(--lime-700);
}
