.city {
  font-size: 1.4em;
  float: left; 
  margin-right: 60px;
  padding-top: 8px;
}

#current-weather {
  background: #f5f5f5;
  margin-top: 20px;
  width: 100%;
}

#current-weather td {
  border: solid 1px #e4e4e4;
  padding: 8px 5px;
}

.weather-data {
}


