
<form id="folder-add"
      class="list-group-item folder-add mh-fc"
      style="border-bottom: none;"
      action="/folders/insert/{{ page }}"
      method="post">

  {% if page == "tasks" %}

      <span class="folder-icon task-icon">
        <span class="material-icons">view_list</span>
      </span>

  {% else %}

    <div class="folder-icon">
      <i class="bi bi-folder-fill"></i>
    </div>

  {% endif %}

  {% csrf_token %}

  <input class="form-control"
      id="folder-add-input"
      autofocus
      type="text"
      name="name"
      onchange="submit()"
      onblur="hideAddFolderForm()"
      value="{{ folder.name }}">

</form>
