{% if breadcrumbs %}
<nav aria-label="breadcrumb" class="folder-breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/folders/0/{{ page }}">
        <i class="bi bi-house"></i> All Folders
      </a>
    </li>
    {% for folder in breadcrumbs %}
    <li class="breadcrumb-item {% if forloop.last %}active{% endif %}" {% if forloop.last %}aria-current="page"{% endif %}>
      {% if forloop.last %}
        {{ folder.name }}
      {% else %}
        <a href="/folders/{{ folder.id }}/{{ page }}">{{ folder.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}