<div class="card folders">
    <div class="card-title mh-fc">
        <h1 id="folders-title-drop-zone" class="folders-title-drop-zone">Folders</h1>
        <div class="mh-fcl">
            <a href="#"
               hx-get="{% url 'folder-collapse-all' page=page %}"
               hx-target="#folder-list"
               hx-swap="outerHTML"
               hx-trigger="click"
               title="Collapse all folders"
               class="collapse-all-btn square-button">
                <i class="bi bi-chevron-contract"></i>
            </a>
            <a class="square-button"
               ref="#"
               data-bs-toggle="modal"
               data-bs-target="#addFolderModal">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>
    </div>
    {% include "folders/list_fragment.html" %}
</div>
<!-- Add Folder Modal -->
{% include "folders/add_modal.html" %}
<!-- Edit Folder Modal (placeholder for HTMX) -->
<div id="editFolderModalContainer"></div>
