
<div class="card folders mh-nps">

  <div class="card-title mh-fc mh-ps">

    <h1>
      {% if page == 'tasks' %}
        Lists
      {% else %}
        Folders
      {% endif %}
    </h1>

    <a href="javascript:showAddFolderForm();">
        <i class="bi bi-plus-lg"></i>
    </a>

  </div>

  {% include "folders/add.html" %}

  <ul class="list-group">
    {% if folders %}
    {% for folder in folders %}
    <li class="list-group-item mh-fc mh-ps" id="folder-{{ folder.id }}">

      <div class="folder-show mh-fc">

        {% if folder.home_column %}
          <span class="folder-icon-home">
            <i class="bi bi-house-fill"></i>
          </span>
        {% else %}

          {% if page == "tasks" %}

            <span class="folder-icon task-icon">
              <span class="material-icons">view_list</span>
            </span>

          {% else %}

            <span class="folder-icon">
              <i class="bi bi-folder-fill"></i>
            </span>

          {% endif %}

        {% endif %}

        <a class="folder-link"
            href="/folders/{{ folder.id }}/{{ page }}"
            {% if page != tasks and folder.id == selected_folder.id %}
            style="font-weight: 600;"
            {% endif %};
            {% if page == 'tasks' and folder in selected_folders %}
            style="font-weight: 600;"
            {% endif %};
            >

            {{ folder.name }}

        </a>

      </div>

      {% include "folders/edit.html" %}

      {% include "folders/menu.html" %}

    </li>
    {% endfor %}
    {% endif %}

    {% if page != 'tasks' %}
    <li class="list-group-item mh-ps">

      <i class="bi bi-folder-fill folder-icon"></i>

      <a class="folder-link" href="/folders/0/{{ page }}" {% if not selected_folder %} style="font-weight: bold;"{% endif %};>
        Uncategorized
      </a>

    </li>
    {% endif %}

  </ul>

</div>
