<div class="card folders">

  <div class="card-title mh-fc">

    <h1>
        Folders
    </h1>

    <div style="margin-left: 2rem;">
      {% if selected_folder %}
        <a href="/folders/{% if selected_folder.parent %}{{ selected_folder.parent.id }}{% else %}0{% endif %}/{{ page }}" title="Go up one level">
          <i class="bi bi-arrow-up"></i>
        </a>
      {% endif %}
    </div>

    <a href="javascript:showAddFolderForm();">
        <i class="bi bi-plus-lg"></i>
    </a>

  </div>

  {% include "folders/add.html" %}

  <ul class="list-group">
    {% for folder_data in folder_tree %}
      {% include "folders/tree_item.html" with folder_data=folder_data %}
    {% endfor %}
  </ul>

</div>