<div class="dropdown" x-data="dropdown()">
    <button class="btn-icon menu-icon"
            type="button"
            x-ref="button"
            @click="toggle()"
            :aria-expanded="open">
        {% if folder.editors.all %}
            <span class="shared-indicator"
                  title="Shared with {{ folder.editors.count }} user{{ folder.editors.count|pluralize }}">
                <i class="icon-users"></i>
            </span>
        {% else %}
            <i class="icon-ellipsis-vertical"></i>
        {% endif %}
    </button>
    <ul class="dropdown-menu" x-ref="menu" x-show="open">
        {% if folder.user == user %}
            <li>
                <a class="dropdown-item"
                   href="#"
                   hx-get="{% url 'folder-form-edit' id=folder.id page=page %}"
                   hx-target="#htmx-modal-container">Edit</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'folder-share' id=folder.id page=page %}">Share</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="#"
                   hx-post="{% url 'folder-home-htmx' id=folder.id page=page %}"
                   hx-target="#folder-tree-container"
                   hx-swap="innerHTML">
                    {% if not folder.home_rank %}
                        Add to Home
                    {% else %}
                        Remove from Home
                    {% endif %}
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="#"
                   hx-delete="{% url 'folder-delete-htmx' id=folder.id page=page %}"
                   hx-target="#folder-tree-container"
                   hx-swap="innerHTML"
                   hx-confirm="Are you sure you want to delete this folder?">Delete</a>
            </li>
        {% else %}
            <li>
                <a class="dropdown-item"
                   href="#"
                   hx-delete="{% url 'folder-delete-htmx' id=folder.id page=page %}"
                   hx-target="#folder-tree-container"
                   hx-swap="innerHTML"
                   hx-confirm="Remove this shared folder from your list?">Remove</a>
            </li>
        {% endif %}
    </ul>
</div>
