<ul class="list-group folder-tree">
    {% if page == "favorites" %}
        <li class="list-group-item folder-item {% if favorites_folder_all %}active-item{% endif %}">
            <div class="folder-row">
                <div class="folder-content">
                    <span class="folder-icon">
                        <i class="icon-folder"></i>
                    </span>
                    <a class="folder-link"
                       href="#"
                       hx-get="{% url 'favorites-all' %}"
                       hx-target="#main-content"
                       hx-swap="innerHTML">All</a>
                </div>
            </div>
        </li>
    {% endif %}
    {% for folder in folders %}
        <li class="list-group-item folder-item {% if folder.id == selected_folder.id %}active-item{% endif %}"
            id="folder-{{ folder.id }}"
            data-folder-name="{{ folder.name }}"
            data-folder-owner="{{ folder.user_id }}">
            <div class="folder-row">
                <div class="folder-content">
                    {% if folder.home_column and folder.user == user %}
                        <span class="folder-icon-home">
                            <i class="icon-house"></i>
                        </span>
                    {% else %}
                        <span class="folder-icon">
                            <i class="icon-folder"></i>
                        </span>
                    {% endif %}
                    <a class="folder-link"
                       href="#"
                       hx-get="{% url 'folder-select-htmx' id=folder.id page=page %}"
                       hx-target="#main-content"
                       hx-swap="innerHTML">{{ folder.name }}</a>
                </div>
                {% include "folders/menu.html" with folder=folder %}
            </div>
        </li>
    {% endfor %}
    <li class="list-group-item folder-item {% if not selected_folder and not favorites_folder_all %}active-item{% endif %}">
        <div class="folder-row">
            <div class="folder-content">
                <span class="folder-icon">
                    <i class="icon-folder"></i>
                </span>
                <a class="folder-link"
                   href="#"
                   hx-get="{% url 'folder-select-htmx' id=0 page=page %}"
                   hx-target="#main-content"
                   hx-swap="innerHTML">Unsorted</a>
            </div>
        </div>
    </li>
</ul>
