{% extends 'base.html' %}
{% block content %}


<div class="card">
  <div class="card-title">

    <h1>
      Theme
    </h1>

  </div>

  <p class="card-text">Set the theme for the application.
  </p>

  <table class="options">
    <tr>
      <td class="setting-label">Theme:
      <td class="setting-control">
        <form action="/settings/theme" method="post">

          {% csrf_token %}

          <select class="select form-select theme-select"
            onchange="submit()"
            name="theme">

            <option value="matcha" {% if user.theme == "matcha" %}selected{% endif %}>
              Matcha
            </option>
            <option value="classic" {% if user.theme == "classic" %}selected{% endif %}>
              Classic

          </select>

        </form>

  </table>

</div>

<div class="card">
  <div class="card-title">

    <h1>
      Home Page Features
    </h1>

  </div>

  <p class="card-text">Enable or disable optional home page features.
  </p>

  <table class="options">
    <tr>
      <td class="setting-label">Tasks:
      <td class="setting-control">
        {% if user.home_tasks %}
          <a class="btn btn-primary btn-slim" href="/settings/home-options/tasks/disable">
            Disable
          </a>
        {% else %}
          <a class="btn btn-primary btn-slim" href="/settings/home-options/tasks/enable">
            Enable
          </a>
        {% endif %}
    <tr>
      <td class="setting-label">Events:
      <td class="setting-control">
        {% if user.home_events %}
          <a class="btn btn-primary btn-slim" href="/settings/home-options/events/disable">
            Disable
          </a>
        {% else %}
          <a class="btn btn-primary btn-slim" href="/settings/home-options/events/enable">
            Enable
          </a>
        {% endif %}
  </table>


</div>

<div class="card">

  <div class="card-title">
    <h1>
      Google Account
    </h1>
  </div>

  <p class="card-text">Connect a Google account to syncronize contacts and/or view calendar events on your home page.
  </p>


  <table class="options">
    <tr>
      <td class="setting-label">Connection:
      <td>
        {% if logged_in %}
          <a class="btn btn-primary" href="/settings/google/logout">Disconnect</a>
        {% else %}
          <a class="btn btn-primary" href="/settings/google/login">Connect</a>
        {% endif %}
      </td>

  </table>

</div>


<div class="card">

  <div class="card-title">
    <h1>
      Log Out
    </h1>
  </div>

  <p class="card-text">Log out of all sessions on all devices.
  </p>

  <table class="options">
    <tr>
      <td class="setting-label">Session:
      <td>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
  </table>

</div>
{% endblock content %}
