{% extends "settings/main.html" %}
{% block subcontent %}
    <div class="card">
        <div class="card-title">
            <h1>Google Account</h1>
        </div>
        <p class="card-text">Connect a Google account to syncronize contacts and/or view calendar events on your home page.</p>
        <table class="options">
            <tr>
                <td class="setting-label">Connection:</td>
                <td>
                    {% if logged_in %}
                        <a class="btn btn-primary" href="{% url 'settings-google-logout' %}">Disconnect</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'settings-google-login' %}">Connect</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock subcontent %}
