{% extends "settings/main.html" %}
{% block subcontent %}
    <div class="card">
        <div class="card-title">
            <h1>Log Out</h1>
        </div>
        <p class="card-text">Log out of all sessions on all devices.</p>
        <table class="options">
            <tr>
                <td class="setting-label">Session:</td>
                <td>
                    <form method="post" action="{% url 'logout' %}" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock subcontent %}
