
{# django template #}

{% extends 'layout.html' %}
{% block content %}
{% load humanize %}

  <div class="section-title">
    Current Crypto Prices
  </div>


  <table id="crypto">

    <tr>

      <th>Name
      <th>Symbol
      <th class="numeric">Price
      <th class="numeric">24h
      <th class="numeric">7d
      <th class="numeric">30d

    {% for token in crypto_data %}

      <tr>

        <td class="name">{{ token.name }}
        <td class="symbol">{{ token.symbol }}
          <td class="numeric">${{ token.quote.USD.price|floatformat:"2"|intcomma }}
        <td class="numeric">{{ token.quote.USD.percent_change_24h|floatformat:"1" }}%
        <td class="numeric">{{ token.quote.USD.percent_change_7d|floatformat:"1" }}%
        <td class="numeric">{{ token.quote.USD.percent_change_30d|floatformat:"1" }}%

    {% endfor %}
  </table>


{% endblock content %}
