<!DOCTYPE html>

<meta charset="UTF-8"content="">

<title>cloud-portal.com</title>

<link rel="shortcut icon" href="/images/icons/portal-dark.ico">

<!-- set viewport for mobile devices -->
<meta name="viewport" content="width = device-width, initial-scale = 1">

<!-- bootstrap stylesheet -->
<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">

<!-- app stylesheets -->
<link rel="stylesheet" href="/static/css/app.css">
<!-- <link rel="stylesheet" href="/static/css/layout-auth.css"> -->
<!-- <link rel="stylesheet" href="/static/css/forms.css"> -->

<div class="container vertical-center"> 

  {% block content %}
  {% endblock content %}

</div>

<!-- javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/javascript.js"></script>

