
<!DOCTYPE html>

<meta charset="UTF-8"content="">

<title>{{ site_handle }}</title>

<link rel="shortcut icon" href="/images/icons/portal-dark.ico">

<!-- set viewport for mobile devices -->
<meta name="viewport" content="width = device-width, initial-scale = 1">

<!-- bootstrap stylesheet -->
<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">

<!-- app stylesheets -->
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/layout-error.css">

<div class="container vertical-center">

    <div class="error-card">

      <div class="error-title">
        Website Error
      </div>

      <div class="error-message">
          {% block message %}
          {% endblock message %}
      </div>

      <div class="contact-message">
          Please contact the site administrator if the problem persists.
      </div>

      <div class="contact-message">
        Click <a href="/">here</a> to return to the home page.
      </div>

    </div>

</div>

<!-- javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/javascript.js"></script>

