{% extends "favorites/extension_base.html" %}
{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Favorite</h5>
            <button type="button" onclick="window.close()">
                <i class="icon-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form id="extension-form"
                  class="form-compact col2"
                  method="post"
                  role="form">
                {% csrf_token %}
                {{ form }}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="window.close()">Cancel</button>
            <button type="submit" form="extension-form" class="btn btn-primary">Save</button>
        </div>
    </div>
{% endblock content %}
