{% extends "favorites/extension_base.html" %}
{% block content %}
    <div class="card-title">
        <div class="title-left">
            <i class="icon-house mh-logo"></i>
            <h1>Add Favorite</h1>
        </div>
    </div>
    <form class="large-form" method="post" role="form">
        {% csrf_token %}
        {{ form }}
        <div class="button-container">
            <button type="button" class="btn btn-secondary" onclick="window.close()">Cancel</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}
