{% extends "favorites/extension_base.html" %}
{% block content %}
    <div class="card-title">
        <div class="title-left">
            <svg class="mh-logo text-lime"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 16 16"
                 fill="currentColor">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
            </svg>
            <h1 class="mt-0">Favorite Saved</h1>
        </div>
    </div>
    <div class="favorite-info">
        <div class="favorite-folder">{{ favorite.folder.name }}</div>
        <div class="favorite-name">{{ favorite.name }}</div>
        <div class="favorite-url">{{ favorite.url }}</div>
    </div>
    <div class="flex-end-space">
        <button type="button" class="btn btn-secondary" onclick="closeWindow()">Close</button>
    </div>
    <script>
  function closeWindow() {
    if (typeof window.closeExtensionPopup === 'function') {
        console.log('Using extension close function');
        window.closeExtensionPopup();
    } else {
        console.log('Extension close function not available - trying direct close');
        try {
            window.close();
        } catch(e) {
            console.log('Direct close failed:', e);
        }
    }
  }
    </script>
{% endblock content %}
