<div class="card favorites">
    <div class="card-title mh-fc">
        <h1 class="breadcrumb-title">
            {% if breadcrumbs %}
                <a href="{% url 'folder-select' id=0 page=page %}"
                   class="breadcrumb-link">{{ page|capfirst }}</a>
                {% for folder in breadcrumbs %}
                    <span class="breadcrumb-separator">/</span>
                    {% if forloop.last %}
                        <span class="breadcrumb-current">{{ folder.name }}</span>
                    {% else %}
                        <a href="{% url 'folder-select' id=folder.id page=page %}"
                           class="breadcrumb-link">{{ folder.name }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ page|capfirst }}
            {% endif %}
        </h1>
        <a href="{% url 'favorites-add' %}">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
    {% include "favorites/favorites_list.html" %}
</div>
