
<div class="card favorites mh-nps">

  <div class="card-title mh-fc mh-ps">
    <h1>

      {% if  selected_folder %}

        {{ selected_folder.name }}

      {% else %}

        Uncategorized

      {% endif %}

    </h1>

    <a href="/favorites/add">
      <i class="bi bi-plus-lg"></i>
    </a>

  </div>

  <ul class="list-group">

    {% for favorite in favorites %}

      <li class="list-group-item mh-ps">

          {% if favorite.home_rank %}
            <div class="favorite-icon-home">
              <i class="bi bi-house-fill"></i>
            </div>
          {% else %}
            <div class="favorite-icon">
              <i class="bi bi-bookmark-fill"></i>
            </div>
          {% endif %}

        <div class="favorite-text">
          <div class="link">
            <a href="{{ favorite.url }}">{{ favorite.name }}</a>
          </div>

          <div class="description">
            {{ favorite.description|default:"" }}
          </div>
        </div>

        {% include "favorites/menu.html" %}

        {% if favorite.login %}

          <div class="credentials">
            <div id="credential-hint-{{ favorite.id }}">
              <a href="javascript:showHideCredentials('{{ favorite.id }}');">
                <i class="bi bi-briefcase-fill"></i>
              </a>
            </div>
            <div id="credential-data-{{ favorite.id }}" class="credential-data" style="display:none;">
              {{ favorite.login }} | {{ favorite.root}} {{ favorite.passkey}}
            </div>
          </div>

        {% endif %}

        <div style="clear:both"></div>

      </li>

    {% endfor %}

  </ul>

</div>
