<div class="dropdown favorite-menu">
    <button class="btn-icon menu-icon"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item"
               href="#"
               hx-get="{% url 'favorites-form-edit' id=favorite.id %}"
               hx-target="#htmx-modal-container"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">Edit</a>
        </li>
        <li>
            <a class="dropdown-item"
               href="#"
               hx-post="{% url 'favorites-home-htmx' id=favorite.id %}"
               hx-target="#favorites-container"
               hx-swap="innerHTML">
                {% if favorite.home_rank > 0 %}
                    Remove from
                {% else %}
                    Add to
                {% endif %}
                Home
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               href="#"
               hx-delete="{% url 'favorites-delete-htmx' id=favorite.id %}"
               hx-target="#favorites-container"
               hx-swap="innerHTML"
               hx-confirm="Are you sure you want to delete this favorite?">Delete</a>
        </li>
    </ul>
</div>
