
.login-bottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.login-bottom-right {
  margin-bottom: 2px;
}

.reset-confirm {
  margin-top: 30px;
}

.reset-complete {
  text-align: center;
}
