<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Filter Tasks</h5>
            <a href="#" @click.prevent="$dispatch('close-modal')">
                <i class="icon-x"></i>
            </a>
        </div>
        <div class="modal-body">
            <form id="tasks-filter-form"
                  class="form-compact col2"
                  hx-post="{% url 'tasks-filter' %}"
                  hx-target="#htmx-modal-container">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_status">Status</label>
                    <div>{{ filter.form.status }}</div>
                </div>
                <div class="form-group">
                    <label for="id_recurring">Recurring</label>
                    <div>{{ filter.form.recurring }}</div>
                </div>
                <div class="form-group">
                    <label for="id_show_archived">Show Archived</label>
                    <div>
                        <select name="show_archived" id="id_show_archived">
                            <option value="false"
                                    {% if not filter.form.show_archived.value %}selected{% endif %}>No</option>
                            <option value="true"
                                    {% if filter.form.show_archived.value %}selected{% endif %}>Yes</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_sort">Sort By</label>
                    <div>
                        <select name="sort" id="id_sort">
                            <option value="title"
                                    {% if sort_value != "-title" and sort_value != "-due_date" and sort_value != "-created_at" %}selected{% endif %}>
                                Title (A-Z)
                            </option>
                            <option value="-title" {% if sort_value == "-title" %}selected{% endif %}>Title (Z-A)</option>
                            <option value="-due_date"
                                    {% if sort_value == "-due_date" %}selected{% endif %}>Date Due (Newest)</option>
                            <option value="-created_at"
                                    {% if sort_value == "-created_at" %}selected{% endif %}>
                                Date Created (Newest)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_due_date_0">Due Date From</label>
                    <div>
                        <input type="date"
                               name="due_date_min"
                               id="id_due_date_0"
                               value="{{ filter.form.due_date.value.0|default:'' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_due_date_1">Due Date To</label>
                    <div>
                        <input type="date"
                               name="due_date_max"
                               id="id_due_date_1"
                               value="{{ filter.form.due_date.value.1|default:'' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_completed_date_0">Done From</label>
                    <div>
                        <input type="date"
                               name="completed_date_min"
                               id="id_completed_date_0"
                               value="{{ filter.form.completed_date.value.0|default:'' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_completed_date_1">Done To</label>
                    <div>
                        <input type="date"
                               name="completed_date_max"
                               id="id_completed_date_1"
                               value="{{ filter.form.completed_date.value.1|default:'' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_created_at_0">Created From</label>
                    <div>
                        <input type="date"
                               name="created_at_min"
                               id="id_created_at_0"
                               value="{{ filter.form.created_at.value.0|default:'' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_created_at_1">Created To</label>
                    <div>
                        <input type="date"
                               name="created_at_max"
                               id="id_created_at_1"
                               value="{{ filter.form.created_at.value.1|default:'' }}">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary"
                    hx-post="{% url 'tasks-filter-default' %}"
                    hx-target="#htmx-modal-container">Restore Defaults</button>
            <button type="submit" form="tasks-filter-form" class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>
