{% load crispy_forms_tags %}
<div class="card">
    <div class="card-title flex-center-space">
        <h1>Edit Task</h1>
        <a href="{% if task.folder %}{% url 'folder-select' task.folder.id 'tasks' %}{% else %}{% url 'tasks' %}{% endif %}"
           class="card-close">
            <i class="bi bi-x-lg"></i>
        </a>
    </div>
    <form action="{{ action }}"
          id="task-edit"
          class="form-horizontal"
          method="post"
          role="form">
        {% csrf_token %}
        {% crispy form %}
        <div class="flex-center-space mt-1">
            <button class="btn btn-primary" type="submit" tabindex="2">Submit</button>
            <a href="{% url 'tasks-delete' task.id %}"
               class="tasks-delete"
               onclick="return confirm('Are you sure you want to delete this task?')">
                <i class="bi bi-x-circle"></i> Delete
            </a>
        </div>
    </form>
</div>
