<div class="card-title flex-center-space">
    <h1>
        {% if selected_folder %}
            {{ selected_folder.name }}
        {% else %}
            Unsorted
        {% endif %}
    </h1>
    <button class="square-button {% if filter_label %}toggle-active{% endif %}"
            hx-get="{% url 'tasks-filter' %}"
            hx-target="#htmx-modal-container">
        <i class="icon-list-filter"></i>
    </button>
</div>
{% include "tasks/taskform.html" %}
<ul class="list-group tasks-list">
    {% for task in tasks %}
        <li class="list-group-item tasks-row">
            <div class="tasks-checkbox">
                <a href="#"
                   hx-post="{% url 'tasks-status' task.id %}"
                   hx-target="#tasks-container"
                   hx-swap="innerHTML">
                    {% if task.status == 1 %}
                        <i class="icon-circle-check-big"></i>
                    {% else %}
                        <i class="icon-circle"></i>
                    {% endif %}
                </a>
            </div>
            <div class="tasks-content">
                <div class="tasks-title">
                    <a href="#"
                       hx-get="{% url 'tasks-form' task.id %}"
                       hx-target="#htmx-modal-container">{{ task.title }}</a>
                </div>
                {% if task.due_date %}
                    <div class="tasks-due">
                        {{ task.due_date|date:"M j" }}
                        {% if task.due_time %}{{ task.due_time|time:"g:i A" }}{% endif %}
                    </div>
                {% endif %}
            </div>
            {% if task.parent_task %}
                <div class="tasks-recurring">
                    <i class="icon-refresh-cw"></i>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% include "pagination.html" %}
<div class="archive">
    <button class="btn btn-secondary"
            hx-post="{% url 'tasks-clear-htmx' %}"
            hx-target="#tasks-container"
            hx-swap="innerHTML">
        <i class="icon-archive"></i> Archive
    </button>
    <button class="btn btn-secondary"
            hx-post="{% url 'tasks-delete-completed-htmx' %}"
            hx-target="#tasks-container"
            hx-swap="innerHTML"
            hx-confirm="Are you sure you want to delete all completed tasks?">
        <i class="icon-trash-2"></i> Delete
    </button>
    <div class="archive-caption">Apply to completed tasks</div>
</div>
