<div class="dropdown task-menu">
    <button class="btn-icon menu-icon"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'tasks-edit' id=task.id %}">Edit</a>
        </li>
        <li>
            <a class="dropdown-item"
               href="{% url 'tasks-delete' id=task.id %}"
               onclick="javascript: return confirm('Are you sure you want to delete this task?')">Delete</a>
        </li>
    </ul>
</div>
