<div class="card tasks">
    <div class="card-title flex-center-space">
        <h1 class="breadcrumb-title">
            {% if breadcrumbs %}
                <a href="{% url 'folder-select' id=0 page=page %}"
                   class="breadcrumb-link">{{ page|capfirst }}</a>
                {% for folder in breadcrumbs %}
                    <span class="breadcrumb-separator">/</span>
                    {% if forloop.last %}
                        <span class="breadcrumb-current">{{ folder.name }}</span>
                    {% else %}
                        <a href="{% url 'folder-select' id=folder.id page=page %}"
                           class="breadcrumb-link">{{ folder.name }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ page|capfirst }}
            {% endif %}
        </h1>
    </div>
    {% include "tasks/taskform.html" %}
    {% include "tasks/task_list.html" %}
    <div class="clear">
        <a href="{% url 'tasks-clear' %}">Clear Checked</a>
    </div>
</div>
