<form role="form"
      class="tasks-add"
      hx-post="{% url 'tasks-add-htmx' %}"
      hx-target="#tasks-container"
      hx-swap="innerHTML"
      hx-on::after-request="this.reset()">
    {% csrf_token %}
    <input type="hidden" name="folder_id" value="{{ selected_folder.id }}">
    <input class="form-control mh-no-shadow"
           type="text"
           name="title"
           id="task-title-input"
           required>
    <script>
      if (window.innerWidth >= 768) {
        document.getElementById('task-title-input').focus();
      }
    </script>
</form>
