
<div class="section-title">
	Tasks
</div>

<div id="tasks">

{% if active_folder %}

	{% include 'tasks/taskform.html' %}

  {% with folder=active_folder %}

    {% include 'tasks/task_list.html' %}

  {% endwith %}

  <div id="clear" style="text-align: right;">

    <a href="/tasks/{{ active_folder.id }}/clear">
      Clear Complete
    </a>

  </div>

{% endif %}

{% for folder in selected_folders  %}

  {% if folder != active_folder %}

    {% include 'tasks/task_list.html' %}

  {% endif %}

{% endfor %}

</div>
