{# django template #}

<div class="section-title">

	{{ selected_contact.name }}

</div>

<div class="contact">

	<div class="contact-item">

		{{ selected_contact.name }} <br>

		{% if selected_contact.company %} 
      {{ selected_contact.company }} 	<br> 
    {% endif %}

		{% if selected_contact.address %}
      {{ selected_contact.address|linebreaks }} <br> 
    {% endif %}

	</div>

	{% if selected_contact.phone1 %}

    <div class="contact-item"> 
      {{ selected_contact.phone1 }} - {{ selected_contact.phone1_label|lower }} 
    </div>

  {% endif %}

	{% if selected_contact.phone2 %}

    <div class="contact-item"> 
      {{ selected_contact.phone2 }} - {{ selected_contact.phone2_label|lower }} 
    </div>

  {% endif %}

	{% if selected_contact.phone3  %}

    <div class="contact-item"> 
      {{ selected_contact.phone3 }} - {{ selected_contact.phone3_label|lower }} 
    </div>

  {% endif %}

	{% if selected_contact.email != null %}

    <div class="contact-item">
      {{ selected_contact.email }}
    </div>

  {% endif %}

	{% if selected_contact.website %}

    <div class="contact-item"> 
      <a href="{{ selected_contact.website }}"> 
        {{ selected_contact.website  }} 
      </a>
    </div>

  {% endif %}

	{% if selected_contact.map %}

    <div class="contact-item"> 
      <a href="{{ selected_contact.map }}"> Map </a>  
    </div>

  {% endif %}

	{% if selected_contact.notes %}

    <div class="contact-item"> 
      {{ selected_contact.notes|linebreaks }}  
    </div>

  {% endif %}

	{% if not selected_contact.google_id %}

    <div class="contact-item">
      (Not included in Google contacts.)  
    </div>

  {% endif %}

	</div>

<div class="page-control">

	<a href="/contacts/edit/{{ selected_contact.id }}" class="btn btn-default" role="button">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>

	<a href="/contacts/delete/{{ selected_contact.id }}" 
     class="btn btn-default" role="button"
	   onclick="javascript: return confirm('Are you sure you want to delete this contact?')">
		<span class="glyphicon glyphicon-remove"></span>
	</a>

</div>
