{% load crispy_forms_tags %}
<div class="col-lg-9 order-lg-2">
    <div class="card">
        <div class="card-title flex-center-space">
            <h1>
                {% if not edit %}
                    Add Contact
                {% else %}
                    Edit Contact
                {% endif %}
            </h1>
            <a class="square-button" href="{% url 'contacts' %}">
                <i class="icon-undo-2"></i>
            </a>
        </div>
        {% if user.id == 1 and not user.google_credentials %}
            <div class="warn">
                Not connected to a Google contacts account. You may still add a contact, but it will not be posted to your google account. Click <a href="{% url 'settings' %}">here</a> to connect.
            </div>
        {% endif %}
        <form action="{{ action }}" class="large-form" method="post" role="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
