
<ul class="list-group">

	{% if contacts %}

		{% for contact in contacts %}

			<li class="list-group-item">
				<a href="/contacts/{{ contact.id }}" 
          {% if selected_contact and selected_contact.id == contact.id %} class="strong" {% endif %}>
          {{ contact.name }}</a>
			</li>
		{% endfor %}

	{% endif %}

</ul>

<div class="page-control">

	{% if selected_folder %}

		<a href="/{{ page }}/create/{{ selected_folder.id}}" 
      class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-plus"></span>
    </a>

	{% else %}

		<a href="/{{ page }}/create/0" class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-plus"></span>
    </a>

	{% endif %}
</div>
