<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {% if edit %}
                    Edit Contact
                {% else %}
                    Add Contact
                {% endif %}
            </h5>
            <a href="#" @click.prevent="$dispatch('close-modal')">
                <i class="icon-x"></i>
            </a>
        </div>
        <div class="modal-body">
            {% if user.id == 1 and not user.google_credentials %}
                <div class="warn">
                    Not connected to a Google contacts account. You may still add a contact, but it will not be posted to your google account. Click <a href="{% url 'settings' %}">here</a> to connect.
                </div>
            {% endif %}
            <form id="contact-form"
                  hx-post="{{ action }}"
                  hx-target="#htmx-modal-container"
                  class="contacts-form-grid">
                {% csrf_token %}
                <div class="contacts-form-left form-compact col2">
                    <div class="form-group span2">
                        <label for="id_folder">Folder</label>
                        <div>
                            <select id="id_folder" name="folder">
                                <option value="">---------</option>
                                {% for folder in folders %}
                                    <option value="{{ folder.id }}"
                                            {% if contact and contact.folder_id == folder.id or not contact and folder.id == selected_folder_id %}selected{% endif %}>
                                        {{ folder.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% for field in form %}
                        {% if field.name == 'name' or field.name == 'company' or field.name == 'email' or field.name == 'address' %}
                            <div class="form-group span2">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div>{{ field }}{{ field.errors }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="contacts-form-right form-compact col2">
                    {% for field in form %}
                        {% if field.name == 'phone1' or field.name == 'phone1_label' or field.name == 'phone2' or field.name == 'phone2_label' or field.name == 'phone3' or field.name == 'phone3_label' or field.name == 'notes' %}
                            <div class="form-group{% if field.name == 'notes' %} span2{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div>{{ field }}{{ field.errors }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            {% if edit %}
                <a href="#"
                   class="btn btn-danger"
                   hx-delete="{% url 'contacts-delete-htmx' contact.id %}"
                   hx-target="#htmx-modal-container"
                   hx-confirm="Are you sure you want to delete this contact?">Delete</a>
            {% else %}
                <button type="button"
                        class="btn btn-secondary"
                        @click="$dispatch('close-modal')">Cancel</button>
            {% endif %}
            <button type="submit" form="contact-form" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
