
{% extends 'layout.html' %}

{% block 'content' %}

{% if not edit %}

  {% include 'events/deadline-calc.html' %}

{% endif %}

<div class="section-title">

    {% if not edit %}

        Add Event

    {% else %}

        Edit Event

    {% endif %}

</div>

{% if results %}

  <div id="calculator-results">
  </div>

{% endif %}

{% if not google_connected %}

  <div class="warn">
    Not connected to a Google calendar. You may still add an event, but it will not be posted to your Google account. Contact an administrator to establish a connection.
  </div>

{% endif %}
<form action="{{ action }}" id="event" class="form-horizontal" method="post" role="form">


  {% csrf_token %}

  {% if edit %}

    <div class="delete">
      <a class="confirm" href="/events/{{event.id}}/delete/{{ origin }}">
            Delete Event
        </a>
    </div>

  {% endif %}

  <table>

    {{ form.as_table }}

    <tr>
      <td>
      <td>
            <input type="hidden" name="origin" value="{{ origin }}">
            <input type="submit" value="Submit">
  </table>
</form>

{% endblock 'content' %}
