{% extends 'base.html' %}
{% block content %}

<div style="float: right; margin-top: 6px">

  <a href="/events/add">
    Add Event
  </a>

</div>

<div class="section-title">

    Pending Events

</div>

    <div class="table-responsive">
    <table class="table events">

	    <tr>
		    <th class="date">
			    Date

		    <th class="date">
			    Day

		    <th class="description">
			    Description

        {% for event in events %}

            <tr>

                <td class="date">
                    {{ event.date|date:"Y-m-d" }}

                <td class="date">
                    {{ event.date|date:"l" }}

                <td class="description
                    {% if event.date < three_days_out and event.status == 'Pending' %} soon {% endif %}">

                    <a class="event" href="/events/{{event.id}}/edit">
                        {{ event.description }}
                    </a>

        {% endfor %}

  </table>
  </div>

{% endblock content %}
