
<div class="card">

    <div class="card-title mh-fc" >
      <h1>
        {{ current.name }}
      </h1>
      <span class="">
            <img id="wicon"
            src="https://openweathermap.org/img/w/{{ current.weather.0.icon }}.png"
            alt="Weather icon">
      </span>
    </div>

    <div class="row weather-data">

      <div class="col">

          <h1>
            Current Conditions
          </h1>

          <table class="table">
            <tr>
              <th>Conditions
              <td class="weather-data">{{ current.weather.0.description|title }}
            <tr>
              <th>Temp
              <td class="weather-data">{{ current.main.temp|floatformat:"0" }}&deg;
            <tr>
              <th>High
              <td class="weather-data">{{ current.main.temp_max|floatformat:"0" }}&deg;
            <tr>
              <th>Low
              <td class="weather-data">{{ current.main.temp_min|floatformat:"0" }}&deg;
            <tr>
              <th>Humidity
              <td class="weather-data">{{ current.main.humidity }}%
            <tr>
              <th>Wind
              <td class="weather-data">{{ current.wind.speed }} mph
            <tr>
              <th>Sunrise
              <td class="weather-data">{{ current.sunrise }}
            <tr>
              <th>Sunset
              <td class="weather-data">{{ current.sunset }}
          </table>

      </div>

      <div class="col-lg-4">

          <h1>
            Forecast - Hourly
          </h1>

          <table class="table">
            <tr>
              <th> Hour
              <th> Temp
              <th> Wind
              <th class="forecast-description"> Conditions
              <th class="forecast-icon">

            {% for hour in forecast.hourly %}
            <tr>
              <td class="forecast-date">{{ hour.hour_time }}
              <td class="forecast-max">{{ hour.temp|floatformat:"0" }}&deg;
              <td class="forecast-min">{{ hour.wind_speed|floatformat:"0" }} mph
              <td class="forecast-description">
                  {{ hour.weather.0.description }}
              <td class="forecast-icon">
                  <img id="wicon" class="forecast-icon" style="width: 40px; height; 40px;"
                  src="https://openweathermap.org/img/w/{{ hour.weather.0.icon }}.png"
                  alt="Weather icon">
            {% endfor %}
          </table>

      </div>

      <div class="col-lg-4">

          <h1>
            Forecast - Daily
          </h1>

          <table class="table">
            <tr>
              <th> Day
              <th> High
              <th> Low
              <th class="forecast-description"> Conditions
              <th class="forecast-icon">

            {% for day in forecast.daily %}
            <tr>
              <td class="forecast-date">{{ day.date_string }}
              <td class="forecast-max">{{ day.temp.max|floatformat:"0" }}&deg;
              <td class="forecast-min">{{ day.temp.min|floatformat:"0" }}&deg;
              <td class="forecast-description">
                  {{ day.weather.0.description }}
              <td class="forecast-icon">
                  <img id="wicon" class="forecast-icon" style="width: 40px; height; 40px;"
                  src="https://openweathermap.org/img/w/{{ day.weather.0.icon }}.png"
                  alt="Weather icon">
            {% endfor %}
          </table>

      </div>

    </div>

</div>
