{# django template #}

<div style="max-width: 350px;">

  <div class="section-title city" >
    {{ current.name }}
  </div>

  <div>
        <img id="wicon" 
        src="http://openweathermap.org/img/w/{{ current.weather.0.icon }}.png" 
        alt="Weather icon">
  </div>

</div>

<div class="weather-subtitle" >
  Today
</div>

<div style="max-width: 550px;">

<table id="current-weather">
  <tr>
    <td class="weather-label">Conditions
    <td class="weather-data">{{ current.weather.0.description|title }}
  <tr>
    <td class="weather-label">Temp
    <td class="weather-data">{{ current.main.temp|floatformat:"0" }}&deg;
  <tr>
    <td class="weather-label">High
    <td class="weather-data">{{ current.main.temp_max|floatformat:"0" }}&deg;
  <tr>
    <td class="weather-label">Low
    <td class="weather-data">{{ current.main.temp_min|floatformat:"0" }}&deg;
  <tr>
    <td class="weather-label">Humidity
    <td class="weather-data">{{ current.main.humidity }}%
  <tr>
    <td class="weather-label">Wind
    <td class="weather-data">{{ current.wind.speed }} mph
  <tr>
    <td class="weather-label">Sunrise
    <td class="weather-data">{{ current.sunrise }}
  <tr>
    <td class="weather-label">Sunset
    <td class="weather-data">{{ current.sunset }}
</table>

</div>

<div class="weather-subtitle" >
  Forecast
</div>

<div style="max-width: 550px;">

<table id="forecast-weather">
  <tr>
    <td class="weather-label"> Day
    <td class="weather-label"> High
    <td class="weather-label"> Low
    <td class="weather-label"> Conditions

  {% for day in forecast.daily %}
  <tr>
    <td class="forecast-date">{{ day.date_string }}
    <td class="forecast-max">{{ day.temp.min|floatformat:"0" }}&deg;
    <td class="forecast-min">{{ day.temp.max|floatformat:"0" }}&deg;
    <td class="forecast-description">{{ day.weather.0.description }}
  {% endfor %}
</table>

</div>
